@model List<Core.Concretes.DTOs.EmployeeDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            FullName
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
            Warehouse Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Role
            </td>
            <td>
                @item.Warehouse.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
